<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  
  <appSettings>
    <add key="Efficience" value="100"/>
    <add key="DaysBeforeEmployeeOperational" value="120"/>
    <add key="StartSimulationDate" value="2018-06-01 00:00:00"/>
    <add key="SimulationFilesPath" value="C:\Users\laurent.freyss\Documents\CNAM\ERP\iYon_ERP\iYon_ERP\Datas"/>
  </appSettings>
</configuration>